ul.menu
	li.menu__item: a(href='#' class='menu__link' data-name='post') Post
	li.menu__item: a(href='#' class='menu__link' data-name='create') Create
	li.menu__item: a(href='#' class='menu__link' data-name='favorites') Favorites
