extends pug/tamplate

block body
	include js/components/header.component/header.component.pug
	include js/components/navigation.component/navigation.component.pug
	.wrapContent
		.content
			include js/components/create.component/create.component.pug
			include js/components/post.component/post.component.pug
			include js/components/favorites.component/favorites.component.pug
